/*============(max-width:991px)============*/

@media (max-width:991px) {

    .checkbox {
        display: block;
        z-index: 8;
        opacity: 0;
    }
    .checkbox:checked ~ .menu {
        position: fixed;
        left: 0;
        transition: .45s cubic-bezier(.75,.1,.25,.9);
    }
    .checkbox:checked {
        position: relative;
        right: 25%;
        transition: .45s cubic-bezier(.75,.1,.25,.9);
    }
    .menu{
        display: grid;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.5);
        width:100%;
        height: 100vh;
    }
    .menu ul {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 39vh 0;
        width:80%;
        background-color: var(--secBG);
        margin-bottom: 0;
    }
    .menu ul li {
        margin: 10px auto;        
    }
    .frist-list{
        margin-top: -34px !important;
    }
    .menu ul li a {
        color: black;
    }

    .mobile-bars {
        display: block;
        color: var(--primary);
        visibility: visible;
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 23px;
        z-index: 7;
        cursor: pointer;
    }
    .mobile-cross {
        display: block;
        color: var(--primary);
        visibility: hidden;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 26px;
        z-index: 7;
        cursor: pointer;
    }
    .checkbox:checked ~ .mobile-bars {
        visibility: hidden;
        position: absolute;
        right: 25%;
    }
    .checkbox:checked ~ .mobile-cross {
        visibility: visible;
        position: absolute;
        right: 25%;
        transition: .5s;
    }
    .header-light {
        position: relative;
    }
    header{
        position: sticky;
        top: -13px;
    }
    .logo img {
        width: 120px;
    }
    p {
        font-size: 14px;
        line-height: 25px;
    }
    h6 {
        font-size: 20px;
    }
    .section-padding {
        padding: 60px 0px;
    }
    .banner-image {
        display: none;
    }
    .banner {
        display: grid;
    }
    .banner-text h6 {
        text-align: center;
        margin-bottom: 20px;
    }
    .banner-text h1 {
        font-size: 55px;
        margin-bottom: 20px;
        text-align: center;
    }
    .banner-text p {
        text-align: center;
        margin-bottom: 30px;
    }
    .banner-text button {
        display: block;
        margin: auto;
    }
    .about-image img {
        margin: auto;
        display: block;
        border-radius: 50%;
    }
    .about-text h2 {
        text-align: center;
        margin-top: 30px;
    }
    .about-text h6 {
        text-align: center;
    }
    .about-text p {
        text-align: center;
    }
    .social-profile ul {
        display: flex;
        justify-content: center;
    }
    .service-item {
        width: 45%;
    }
    .call-to-action {
        padding-bottom: 100px;
    }
    .blog {
        padding-bottom: 100px;
    }
    
}

/*============(max-width:767px)============*/

@media (max-width:767px) {

    h1 {
        font-size: 40px;
        text-align: center;
    }
    p {
        font-size: 13px;
    }
    .section-padding {
        padding: 40px 0px;
    }
    header {
        padding: 10px 0px 10px 0px;
        position: sticky;
        top: 0px;
        z-index: 9;
    }
    .banner-abs-image {
        position: absolute;
        bottom: -3px;
    }
    .section-title {
        font-size: 32px;
    }
    .banner-text h6 {
        font-size: 20px;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    .about-image img {
        width: 100%;
    }
    .social-profile ul li a {
        width: 35px;
        height: 35px;
        line-height: 36px;
    }
    .all-service-items {
        margin-bottom: -70px;
    }
    .service-item{
        display: block;
        width: 100%;
        margin-bottom: 75px;
        margin-left: 0;
        margin-right: 0;
    }
    .service-item h6 {
        font-size: 22px;
    }
    .call-to-action {
        padding-bottom: 67px;
    }
    .client p {
        width: 81%;
    }
    .client h6 {
        font-size: 17px;
    }
    .carousel-inner {
        background-color: var(--lightBG);
        border-radius: 15px;
        padding: 30px 0px;
        margin-top: 60px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 20px -12px black;
        overflow: visible;
    }
    .client img {
        margin-top: -100px;
    }
    .blog {
        padding-bottom: 67px;
    }
    .blog-item {
        margin-bottom: 30px;
    }
    .blog-item img {
        width: 100%;
    }
    .contect a {
        margin-top: 0;
        font-size: 50px;
    }
    .contect .icon-text {
        margin-bottom: 40px;
    }
    .contect form {
        margin-top: 10px;
    }















}